/* COLORS */
body,
#services,
#contact,
#client {
    background-color: black;
    color: white;
}

main section .card,
#project,
#market,
main section {
    background-color: #424242;
}

.side-nav a {
    color: white;
}

/* Font Sizes */
#market p,
.card-content p,
.card-reveal p,
header p {
    font-size: 1.6rem;
}

.services p {
    font-size: 1.3rem;
}

/* Styling */
nav a {
    text-transform: uppercase;
    font-weight: 600;
}

.card {
    margin: 0;
    box-shadow: 0 0 0 0;
}

/* Paddings and Margins */
#about, #services,
#project, #market,
#client, #contact,
#location {
    padding-top: 45px;
    padding-bottom: 35px;
}

.background {
    padding-top: 8%;
}

.background {
    background-image: url("../img/portofolio/coffee.jpg");
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
}

footer a {
    margin-right: 15px;
}

/* navbar-fixed on mobile fix */
#sidenav-overlay {
    margin-left: 300px;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}
