body {
    background-color: black;
}

nav .brand-logo {
    padding-left: 10px;    
}

.services.row {
    margin-bottom: 0;
}

#services {
    padding-top: 25px;
    padding-bottom: 25px;
}

.card {
    margin: 0;
}

footer a {
    margin-right: 15px;
}

header p {
    font-size: 1.4rem;
    color: white;
}

.background {
    padding-top: 20%;
}

.background {
    background-image: url("../img/portofolio/coffee.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

main section .card,
#portofolio,
.damn {
    background-color: #424242;
}

.damn {
    padding: 12vh;
}

#services,
#contact {
    background-color: black;
    color: white;
}

.center-btn {
    text-align: center;
}
